<div class="field">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" [formControl]="email" placeholder="email">
    </div>
    <div class="form-group">
        <label for="pwd">Hasło:</label>
        <input type="password" [formControl]="password" placeholder="hasło">
    </div>
    <button type="submit" class="btn btn-default" (click)="signUp()">Zarejestruj się</button>
    
    <!--
        <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">
        <label>Email:</label><input name="email" formControlName="email">
        <br>
        <label>Hasło:</label><input name="password" formControlName="password">
        <br>
        <label>Imię:</label><input name="firstname" formControlName="firstname">
        <br>
        <label>Nazwisko:</label><input name="lastname" formControlName="lastname">
        <br>
        <label>Numer indeksu:</label><input name="index" formControlName="index">
        <br>
        <label>Semestr:</label><input name="semester" formControlName="semester">
        <br>
    
        <button type="submit">Zarejestruj się</button>
    </form>
-->
</div>
