.field {
    background: palegoldenrod;
    padding: 30px;
    text-align: center;
}

form {
    text-align: left;
    margin-left: 300px;
}

label {
    font-size: 25px;
}

button {
    font-size: 30px;
    margin-top: 20px;
}