<div clas="rating">
    <div class="stars">
        <input type="radio" id="star5" name="star" value="1">
        <label for="star1">Five Star</label>
        <input type="radio" id="star4" name="star" value="1">
        <label for="star1">Four Star</label>
        <input type="radio" id="star3" name="star" value="1">
        <label for="star1">Three Star</label>
        <input type="radio" id="star2" name="star" value="1">
        <label for="star1">Two Star</label>
        <input type="radio" id="star1" name="star" value="1">
        <label for="star1">One Star</label>
    
    </div>
</div>
