<div [ngClass]="setClasses()" class="singleCourse">
        <button (click)="clicked(course)" [ngClass]="{'oddTest':isEven, 'evenTest': !isEven}">
                <img src={{course.img}} class="logo" />
                <h3>
                        {{ course.name }}
                </h3>
                <app-course-rating></app-course-rating>
        </button>
        <div *ngIf="course.isOpened">
                <app-course-details [course]="course" ></app-course-details>
        </div>

</div>

    