.del {
    background: #f00;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.course {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    max-width: 300px;
    min-height: 100px;
}

.is-complete {
    text-decoration: line-through;
}