.singleCourse {
    text-align: left;
    background: transparent;
    min-height: 150px;
}

.logo {
    width: 100px;
    float: left;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
}

.del {
    background: #f00;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.course {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}


.oddTest{
    background-color: grey;
}

.evenTest{
    background-color: linen;
}

.name {
    float: left;
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 50px;
}

.rating {
    margin-top: 20px;
}