<header>
    <a routerLink=''>
        <p>
            Oceń  przedmiot
        </p>
    </a>
    
    <div *ngIf="this.auth.loggedUserEmail() === 'notLoggedIn'; else elseBlock">
        <button id="logIn" name="logIn" routerLink="register" >Zaloguj się</button>
        <button id="signUp" name="signUp" routerLink="signIn" >Zarejestruj się</button>
    </div>
    <ng-template #elseBlock>
        {{ this.auth.loggedUserEmail() }}    
        <button id="signOut" name="signOut" (click)="logout()" routerLink="" >Wyloguj się</button>
    </ng-template>

    <button id="addCourse" name="addCourse" routerLink="addCourse" >Dodaj kurs</button>

    <div class="clear"></div>
</header>
