.details {
    clear: both;
    background: rgb(215, 226, 115);
    padding: 20px;
    min-height: 500px;
}

.logo {
    width: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

table {
    margin-left: 50px;
    float: left;
}

.specificdetails {
    clear: both;
}

.name {
    float: left;
    font-size: 40px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 75px;
}

.returnButton {
    float: right;
    margin-right: auto;
    margin-left: 10px;
}

p {
    clear: both;
}

