.container {
    background-color: palegreen;
    padding: 30px;
    text-align: center;
}

.field {
    background: palegoldenrod;
}

form {
    text-align: center;
}

label {
    font-size: 25px;
}

button {
    font-size: 30px;
    margin-top: 20px;
}